<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Prestamo Cliente</div>
                <div class="panel-body">
                    <app-notificacion></app-notificacion>
                    <form [formGroup]="frmPrestamo"
                          role="form">
                        <div class="form-group">
                            <label for="">
                        Nombre de la Empresa
                    </label>
                            <input type="text"
                                   formControlName="nombreEmpresa"
                                   class="form-control"
                                   placeholder="Nombre Empresa">
                        </div>
                        <div class="form-group">
                            <label for="">
                        Nit o cedula
                    </label>
                            <input type="number"
                                   formControlName="nit"
                                   id="nit"
                                   class="form-control"
                                   placeholder="Nit"
                                   (focusout)="calcularNit()">
                        </div>
                        <div class="form-group">
                            <label for="">
                        Codigo de verificacion
                    </label>
                            <input type="number"
                                   formControlName="codigof"
                                   id="apellido"
                                   class="form-control"
                                   placeholder="codigo verificación"
                                   value="{{codigo}}"
                                   disabled>
                        </div>
                        <div class="form-group">
                            <label for="">
                        Salario Aspirante
                    </label>
                            <input type="number"
                                   formControlName="salario"
                                   id="identificacion"
                                   class="form-control"
                                   placeholder="Salario"
                                   min="1"
                                   max="100000000">
                        </div>
                        <div class="form-group">
                            <label for="">
                        Fecha Ingreso
                    </label>
                            <input type="date"
                                   formControlName="fechaIngreso"
                                   class="form-control">
                        </div>

                        <button (click)="calcularPrestamo()"
                                class="btn btn-success form-control"
                                [disabled]="frmPrestamo.valid || !calcularFechaActual() || !validarSalario() ">Consultar Prestamo</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h3>El prestamo que le otorga el Banco es:</h3><br>
                <h4>{{prestamoTotal}}</h4>
            </div>
        </div>

    </div>
</div>